#table1 {
color: #F0FFFF;
background-color: #006699;
 border-collapse: separate;
 border-spacing: 2px;
            width: 300px;
            max-width: 300px;
            border: 10px solid white;
            font-size: 15pt;
            font-family: "Kabel Heavy";
            padding: 0.5em 1em 1em 1em;
            text-align: center;
            
}
#table2 {

color: #000000;
background-color: #ffffff;
             width: 300px;
             max-width: 300px;
            border: 8px solid white;
            height: 320px;
            padding: 0.5em 1em 1em 1em;
}

    body {
	background-color: #E2E2E2;
}
 .container-fluid .row-fluid .span9 .hero-unit div p {
	color: #333;
}